* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 20rem;
  width: 4rem;
  background: rgb(0, 0, 230);
  color: gold;
  font-size: 48rem;
}

.main-editor {
  background: rgba(230, 230, 230, 0.295);
  display: flex;
  width: 25600%;
  height: 1600%;
  padding: 1rem;
}

.first {
  background-color: #000041;
  width: 50%;
  overflow-x: auto;
  overflow-y: auto;
  white-space: pre;
  box-shadow: 0 1px 1px rgb(248, 243, 243);
  outline: none;
  padding: 10rem;
  height: 1600%;
}

.second {
  background-color: rgb(255, 255, 255);
  width: 50%;
  overflow-y: auto;
  white-space: pre;
  right: 0;
  box-shadow: 0 1px 1px rgb(249, 250, 250);
  padding: 10rem;
  height: 1600%;
}
